langchain
openai
langchain-community
langchain-openai
huggingface_hub
langchain-huggingface
transformers
torch
sentence-transformers
pypdf
faiss-cpu
pandas
tiktoken
gradio
python-dotenv
fastapi
uvicorn
openpyxl
pymupdf
docx2txt
unstructured
python-pptx
langchain-ollama

# ajout pour gemma
transformers>=4.50.0
accelerate
pillow
einops
safetensors
xformers          # optionnel mais utile



