langchain
openai
langchain-community
langchain-openai
huggingface_hub
langchain-huggingface
transformers
torch
sentence-transformers
pypdf
faiss-cpu
pandas
tiktoken
gradio
python-dotenv
fastapi
uvicorn
openpyxl
pymupdf
docx2txt
unstructured
python-pptx
langchain-ollama
langchain-qdrant



